@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --ctaButton: #DB4444;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container h2{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

.announcement-text{
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
}
.announcement-bar a{
    font-size: 15px;
    color: white;
    margin-left: 5px;
    font-weight: 400;
}
.navbar-row{
    padding: 20px 150px;
    border-bottom: lightgray 1px solid;
}

.input-box input{
    border: none;
    position: relative;
    border-radius: 5px;
    background: #F5F5F5;
    padding: 8px;
}
.icon-search{
    position: absolute;
    right: 8px;
}

.menu-list{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.hamburger-container{
    display: none;
}

.banner-container{
    padding: 0px 150px;
    height: fit-content;
}

.list-box{
    border-right: lightgray 1px solid;
    padding: 0;
    height: fit-content;
}
.catagory-list li{
    margin: 1.4rem 0rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}

.banner-section{
    padding: 15px 0px 0px 15px;
    max-height: 100%;
}
.hero-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 90%;
    position: relative;
}
.hero-slider img{
    height: 100%;
    width: 100%;
    
}
   
.flash-sales-section{
    padding: 0px 0px 0px 135px;
    margin-top: 30px;
}

.flash-sale-header{
    width: calc(100% - 135px);
    height: 103px;
}

.timmer{
    gap: 12px;
}

.sec-section h2{
    margin: 0;
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.timmer h3{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    
}
.collon{
    font-size: 20px;
    color: var(--ctaButton);
    font-weight: 600;
    margin-top: 10px;
}

.timmer p{
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0;
}

.ractangle{
    background: var(--ctaButton);
    margin-right: 10px;
    border-radius: 3px;
    height: 25px;
    width: 12px;
}

.top-section span{
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: var(--ctaButton);
}

.slider-navigation{
    position: absolute;
    bottom: 0;
    right: 0;
}

.left-navigation, .right-navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: lightgrey;
}

/* flash-sales-slider-style */
.product-slider{
    padding: 30px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: auto;
    gap: 50px;
    scroll-behavior: smooth;
}

#sale-slider::-webkit-scrollbar {
  display: none; /* optional: hide scrollbar */
}

.view-all-section{
    height: 3.5rem;
    width: calc(100% - 135px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px 60px 0px;
    border-bottom: 1px lightgray solid;
}

.view-all-section button{
    padding: 15px 30px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: var(--ctaButton);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}


.catagory-section{
    padding: 0px 150px;
    margin-top: 60px;
}



@media only screen and (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .navbar-row{
    padding: 10px;
  }
  .menu-box {
    display: none;
  }
}